<div class="identity">
    <section class="container-fluid bg-white b-b identity-header">
        <div class="row m-t-sm m-b-sm">
            <div class="title col-xs-12">
                <h1 class="inline identity-title-text v-middle ng-binding">
                    Photo Upload
                </h1>
            </div>
        </div>
    </section>
    <section class="container-fluid m-t">
        <div class="row">
            <form class="form" name="cart.shopppingCartForm">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
		                                <div class="form-group">
		                                    <label for="">Label</label>
		                                    <input type="text" class="form-control"/>
		                                </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="dropzone" options="photoupload.dzOptions" callbacks="photoupload.dzCallbacks" methods="dzMethods" ng-dropzone></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
